body {
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    background: #fafafa;
}
.navbar {
    background:#fafafa;
    padding-left: 10%;
    padding-right: 10%;
}
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    color: #009a9a !important;
    font-weight: 800;
}
.nav-link {
    font-family: 'Major Mono Display', sans-serif;
    color: #763626;
    font-weight: 600;
    cursor: pointer;
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #763626;
}
.navbar-collapse {
    justify-content: flex-end;
}

.projects {
	margin: 4em auto;
    padding-left: 15%;
    padding-right: 15%;
	position: relative;
}

.row {
	margin-bottom: 30px;
}

.title {
    font-weight: 400;
    color: #763626;
    font-family: 'Major Mono Display', monospace;
    line-height: 1.5;
    font-size: 64px;
    margin-bottom: 5%;
}

.subtitle {
    font-weight: 300;
    color: #2A3132;
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
}

.subtitle a {
    text-decoration: none;
    color: #763626;
}

.subtitle a:hover {
    color: #336b87;
}

.section {
    font-weight: 400;
    color: #763626;
    font-family: 'Major Mono Display', monospace;
    line-height: 1.5;
    font-size: 28px;
    margin-left: 5%;
}

.section a {
    text-decoration: none;
    color: #763626;
}

.section-title {
    font-weight: 400;
    color: #763626;
    font-family: 'Major Mono Display', monospace;
    line-height: 1.5;
    font-size: 48px;
    margin-bottom: 5%;
}

.section-header {
    font-weight: 600;
    color: #2A3132;
    font-family: 'Nunito', sans-serif;
}

.section-text {
    font-weight: 400;
    color: #2A3132;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

.section-text a {
    text-decoration: none;
    color: #763626;
}

.section-text code {
    background-color: #dfdfdf;
    color:#763626;
}

figure {
    text-align: center;
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: "Major Mono Display", monospace;
    color: #444444;
    text-align: center;
    font-weight: 400;
}

.footer h5 {
    margin-bottom: 2%;
}

.footer a {
    color: #763626;
    font-weight: 400;
}

.footer a:hover {
    text-decoration: none;
    color: #763626;
}



.project-group h3 {
    color: #444444;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    line-height: 1.5;
    font-weight: 300;
    padding-left: 5%;
}


.container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0%;
}


.img-fluid {
    position: relative;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fafafa;
    padding: 10%;
}

.container:hover .overlay {
    opacity: 0.9;
}

.project-title {
    color: #009a9a;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
}

.project-text p {
    color: #444444;
    text-align: left;
    margin: 0%;
    margin-bottom: 5px;
    line-height: 1.5;
}

.project-text a {
    color: #222222;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease;
}

.project-text a:hover {
    color: #009a9a;
    text-decoration: none;
}

.project-text a .arrow-link {
    border: solid #222222;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transition: 0.1s ease;
}

.project-text a:hover .arrow-link {
    border: solid #009a9a;
    border-width: 0 2px 2px 0;
    padding: 4px;
}

.contact {
    font-family: "Nunito", sans-serif;
    color: #444444;
    text-align: center;
    font-weight: 300;
}

.contact a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: #666666;
}

.contact a:hover {
    color: #009a9a;
}

